body{
    background-color:#cdcdcd;
    text-align:center;
    margin:auto;
    padding:auto;
}
.container{
    position:fixed;
    top:10%;
    left:32%;
    transform: translate(-4%, -2%);
    width:fit-content;
    height:fit-content;
    margin:20px;
    padding: 20px;
    background-color:#ffffff;
    border-radius:10px;
    box-shadow:0px 2px 20px rgba(0, 0, 0, 0.2) ;
}
img{
    width:300px;
    height:100px;
}
.title{
    font-size: 2em;
    font-weight: bold;
    margin-bottom:10px;
}
.sub-title{
    font-size:1em;
    color:#555;
}
#form{
    width:400px;
    height:450px;
    padding:20px;
    background-color: #f0f2f5;
    border-radius: 10px;
}
#firstname, #surname{
    text-align: left;
    width:125px;
    padding:10px;
    margin-bottom:10px;
    border:1px solid #ddd;
    border-radius:5px;
    font-size:16px;
}
#date, #month, #year{
    width:80px;
    padding:10px;
    margin-bottom:20px;
    margin-top:20px;
    border:1px solid #ddd;
    border-radius:5px;
    font-size:16px;
}
.gender{
    box-shadow:2px 2px 20px rgba(0, 0, 0, 0.2);
    border-radius:5px;
    font-size:16px;
    background-color:white;
    padding:10px;
}
#male, #female, #other{
    width:30px;
    margin-top:30px;
}
#email{
    margin-top:30px;
    padding:10px;
    width:200px;
    border:1px solid #ddd;
    border-radius:5px;
    font-size:16px;
}
#password{
    margin:20px;
    margin-left:0px;
    padding:10px;
    width:200px;
    border:1px solid #ddd;
    border-radius:5px;
    font-size:16px;
}
button{
    color:white;
    background-color:green;
    padding:10px;
    width:200px;
    font-size:16px;
    font-weight:bold;
    border:1px solid #ddd;
    border-radius:5px;
}
a{
    text-decoration: none;
    font-size:18px;
    color:rgb(0, 145, 255);
}
#dob, #gender{
    font-size:18px;
    color:#555;
}